﻿@inherits TechTalk.SpecRun.Framework.Reporting.CustomTemplateBase<TestRunResult>
<!DOCTYPE html>
@using System
@using System.Linq
@using System.Globalization
@using TechTalk.SpecRun.Framework
@using TechTalk.SpecRun.Framework.Results
@using TechTalk.SpecRun.Framework.TestSuiteStructure
@helper GetReportBar(TestItemExecutionResult test)
{
    <td class="testview-item"
        data-sr-exectime="@GetSeconds(test.ExecutionTime)" data-sr-rescode="@((int)test.ResultType)" data-sr-order="@test.ExecutionOrder" data-sr-acttime="@GetSeconds(test.ActExecutionTime)">
        <a class="bar @("color" + test.ResultType)"
           style="height: @GetBarSize(tr => tr.ExecutionTime.DurationMilliseconds, test, 0.0, 60)px;"
           title="@GetTestBarTooltip(test)"
           href="#@GetTestAnchor(test)">&nbsp;</a>
    </td>
}
@helper GetTimelineBar(DateTime startTime, DateTime endTime, double msecPerPixel, TestItemExecutionResult test)
{
int endPixel = Math.Max((int)Math.Round((endTime - Model.ExecutionTime.StartTime).TotalMilliseconds / msecPerPixel), currentPixel + 4);
int size = endPixel - currentPixel;
currentPixel = endPixel;
    <td>
        <a class="bar @(test == null ? "startupBar" : "color" + test.ResultType.ToString())"
           style="width: @(size - 1)px;"
           @if (test != null) { @: title="@GetTestBarTooltip(test)"
                                      @: href="#@GetTestAnchor(test)"
                                  } else { @: title="test thread startup"
                                  }>&nbsp;</a>
    </td>
}
@helper GetSummaryHeader(string titleHeader)
{
    <tr>
        @if (titleHeader != null)
        {
            <th>@titleHeader</th>
        }
        <th colspan="2">Success rate</th>
        <th>Tests</th>
        <th>Succeeded</th>
        <th>Failed</th>
        <th>Pending</th>
        <th>Ignored</th>
        <th>Skipped</th>
    </tr>
}
@helper GetSummaryRow(TestCollectionResultSummary summary, string title, string href)
{
    <tr>
        @if (title != null)
        {
            <td><a href="#@href">@title</a></td>
        }
        @GetSummaryRowTail(summary)
    </tr>
}
@helper GetSummaryRowTail(TestCollectionResultSummary summary)
{
    <td>
        @if (summary.TotalSucceeded + summary.TotalFailure + summary.TotalPending > 0)
        {
            @:@Math.Round((double)summary.TotalSucceeded * 100 / (summary.TotalSucceeded + summary.TotalFailure + summary.TotalPending))%
        }
        else
        {
            @:n/a
        }
    </td>
    <td>
        <table class="timelineview" cellpadding="0" cellspacing="0">
            <tr>
                @foreach (var resultCount in summary.ResultCounts.Where(rc => rc.Value > 0).OrderByDescending(rc => rc.Key.GetGroup() == TestNodeResultTypeGroup.Success ? 1000 : (int)rc.Key))
                {
                    <td>
                        <a class="bar @("color" + resultCount.Key)"
                           style="width: @Math.Round(((double)resultCount.Value * 200 / summary.Total) - 1)px;"
                           title="@summary.GetText(resultCount.Key)"
                           @if (resultCount.Key.GetGroup() == TestNodeResultTypeGroup.Failure) { @: href="#error_summary"
                                                                              } />
                    </td>
                }
            </tr>
        </table>
    </td>
    <td>@summary.TotalMessage</td>
    <td>@summary.Succeeded</td>
    <td>@summary.TotalFailure</td>
    <td>@summary.TotalPending</td>
    <td>@summary.Ignored</td>
    <td>@summary.Skipped</td>
}
@helper TestItemLinks(TestItem testItem, int level)
{
if (level == 0)
{
        <a href="#@GetTestNodeAnchor(testItem, "t", 0)">@testItem.Type: @testItem.Title</a>
}
else
{
        <a href="#@GetTestNodeAnchor(testItem, "t", 0)">@testItem.Title</a>
}
var tiResult = GetTestItemResult(testItem);
if (tiResult != null)
{
    foreach (var retry in tiResult.Executions.Skip(1))
    {
            <a href="#@GetTestNodeAnchor(testItem, "t", retry.TestItemExecutionIndex)">retry #@retry.TestItemExecutionIndex</a>
    }
}
}
@helper TestNodeLinks(TestNode testNode, int level)
{
if (testNode is TestItem)
{
        @TestItemLinks((TestItem)testNode, level)
}
if (testNode is TestCollection)
{
        <span>@testNode.Type: @testNode.Title</span>
        <ul class="subNodeLinks">
            @foreach (var subTestNode in ((TestCollection)testNode).SubNodes)
        {
                <li>
                    @TestNodeLinks(subTestNode, level + 1)
                </li>
            }
        </ul>
}
}
@functions
{
    string GetFixtureTitle(TestNode fixtureNode)
    {
        return fixtureNode.IsDefaultTestTarget ? fixtureNode.Title : string.Format("{0} (Target: {1})", fixtureNode.Title, fixtureNode.TestTarget);
    }
}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>HD Supply Solutions Inhouse Test Execution Report</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script type="text/javascript">

            jQuery.fn.sortElements = (function () {

                var sort = [].sort;

                return function (comparator, getSortable) {

                    getSortable = getSortable || function () { return this; };

                    var placements = this.map(function () {

                        var sortElement = getSortable.call(this),
                parentNode = sortElement.parentNode,

                        // Since the element itself will change position, we have
                        // to have some way of storing it's original position in
                        // the DOM. The easiest way is to have a 'flag' node:
                nextSibling = parentNode.insertBefore(
                    document.createTextNode(''),
                    sortElement.nextSibling
                );

                        return function () {

                            if (parentNode === this) {
                                throw new Error(
                        "You can't sort elements if any one is a descendant of another."
                    );
                            }

                            // Insert before flag:
                            parentNode.insertBefore(this, nextSibling);
                            // Remove flag:
                            parentNode.removeChild(nextSibling);

                        };

                    });

                    return sort.call(this, comparator).each(function (i) {
                        placements[i].call(getSortable.call(this));
                    });

                };

            })();
    </script>
    <script type="text/javascript">
            jQuery.fn.setBarSizes = (function () {
                return function (metricName, maxBarSize, min) {
                    var max = Math.max.apply(Math, $.makeArray($(this).map(function () { return Number($(this).attr('data-sr-' + metricName)); })));
                    var scale = 1.0;
                    while (max > 0.0 && max <= 10.0) {
                        scale = scale * 10.0;
                        max = max * 10.0;
                    }
                    max = (Math.ceil(max / 2) * 2) / scale;

                    this.each(function () {
                        var barAnchor = $(this).find('a');
                        var actual = $(this).attr('data-sr-' + metricName);
                        var newHeight = Math.max(Math.round(maxBarSize * (actual - min) / (max - min)), 2);
                        barAnchor.css({ height: newHeight });
                    });

                    var unit = "";
                    //if (metricName.substr(metricName.length - 4, 4) === "time")
                    //    unit = "s";

                    $('#testview .scale-min-label').each(function () {
                        $(this).text(min.toString() + unit);
                    });
                    $('#testview .scale-max-label').each(function () {
                        $(this).text(max.toString() + unit);
                    });
                    var mid = max / 2;
                    $('#testview .scale-mid-label').each(function () {
                        $(this).text(mid.toString() + unit);
                    });
                };
            })();

            function getComparer(metricName, isDesc) {
                return function (a, b) {
                    var aNumber = Number($(a).attr('data-sr-' + metricName));
                    var bNumber = Number($(b).attr('data-sr-' + metricName));
                    var result = aNumber > bNumber ? 1 : (aNumber < bNumber ? -1 : 0);
                    if (isDesc)
                        result = -1 * result;

                    if (result == 0 && metricName != "order")
                        result = getComparer("order", false)(a, b);

                    return result;
                };
            }

            var currentSort = "";
            function doSort(allowToggleDesc) {
                var newSort = $("input[name='barSortOrder']:checked").val();
                if (allowToggleDesc && currentSort == newSort) {
                    $('#barSortDesc').click();
                    doSort(false);
                    return;
                }
                currentSort = newSort;
                $('#testview td.testview-item').sortElements(getComparer(newSort, $('#barSortDesc').is(':checked')));
            }


            function doSetHeights(allowSort) {
                var selectedMetric = $("input[name='barHeight']:checked").val();
                $('#testview td.testview-item').setBarSizes(selectedMetric, 60, 0.0);

                if (allowSort && currentSort != selectedMetric) {
                    var $radios = $("input[name='barSortOrder']");
                    $radios.filter('[value=' + selectedMetric + ']').attr('checked', true);
                    $("#barSortDesc").attr("checked", [true]);
                    doSort(false);
                }
            }

            $(document).ready(function () {
                $("input[name='barSortOrder']").click(function () { doSort(true); return true; });
                $("input[name='barSortDesc']").change(function () { doSort(false); });
                $("input[name='barHeight']").change(function () { doSetHeights(true); });

                doSort(false);
                doSetHeights(false);

                $('.toggle_content', this).toggle();
                $('.togglemain, .toggle').click(function (event) {
                    if ($(this).hasClass('toggleiconright')) {
                        $(this).removeClass('toggleiconright');
                        $(this).addClass('toggleicondown');
                    } else {
                        $(this).removeClass('toggleicondown');
                        $(this).addClass('toggleiconright');
                    }
                    event.stopPropagation();
                    $('.toggle_content', this).toggle();

                });

                $("div.scrollable").css({ 'overflow': 'auto' });
                //to hide the warrning
                $("div").last().css("display", "none")
            });

    </script>

    <style type="text/css">
        body {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
        }

        h1 {
            font-family: serif, Arial,sans-serif;
            font-size: 170%;
            font-weight: bold;
            text-align: center;
        }

        h2 {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 130%;
            font-weight: bold;
            margin-bottom: 5px;
        }

        h3 {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 120%;
            font-weight: bold;
            margin-bottom: 5px;
        }

        a.bar {
            text-decoration: none;
            display: block;
            line-height: 1px;
        }

        .description {
            font-style: italic;
        }

        .log {
            width: 600px;
            white-space: pre-wrap;
            display: block;
            margin: 0px;
        }

        .errorMessage {
            width: 600px;
            color: Red;
            font-weight: bold;
        }

        .stackTrace {
            width: 600px;
            white-space: pre-wrap;
            font-style: italic;
            color: Red;
            display: block;
        }

        table.testEvents {
            border: solid 1px #e8eef4;
            border-collapse: collapse;
            word-wrap: break-word;
        }

            table.testEvents td {
                vertical-align: top;
                padding: 5px;
                border: solid 1px #e8eef4;
                word-wrap: break-word;
                background-color: #fff;
            }

            table.testEvents th {
                padding: 6px 5px;
                text-align: left;
                background-color: #e8eef4;
                border: solid 1px #e8eef4;
                word-wrap: break-word;
            }

        .comment {
            font-style: italic;
            font-size: smaller;
        }

        .startupBar {
            background-color: #EEEEEE;
            cursor: default;
        }

        .colorSucceeded {
            background-color: #90ED7B;
        }

        .colorIgnored {
            background-color: #FFFF85;
        }

        .colorPending {
            background-color: #D47BED;
        }

        .colorNothingToRun {
            background-color: #CCCCFF;
        }

        .colorSkipped {
            background-color: #CCCCFF;
        }

        .colorInconclusive {
            background-color: #7BEDED;
        }

        .colorCleanupFailed {
            background-color: #FFCCCC;
        }

        .colorRandomlyFailed {
            background-color: #EDB07B;
        }

        .colorFailed {
            background-color: #ED5F5F;
        }

        .colorInitializationFailed {
            background-color: #FF0000;
        }

        .colorFrameworkError {
            background-color: #FF0000;
        }

        ul.subNodeLinks {
            padding-left: 20px;
            margin: 0px;
        }

            ul.subNodeLinks li {
                list-style: none;
            }

        /* views general */
        div.scrollable {
            /*overflow: auto; - thsi has to be set from js, because of an IE9 bug */
        }

        div.viewbox {
            position: relative;
            border: 1px solid transparent;
            background-color: #f8f8f8;
            border-color: #e7e7e7;
            margin-bottom: 15px;
        }

            div.viewbox table {
                border: 0px;
            }

        /* testview */
        #testview {
            padding-top: 23px;
        }

        table.testview-items td {
            vertical-align: bottom;
            padding: 0px 1px 0px 1px;
        }

        td.right-padding, td.left-padding {
            width: 25px;
            min-width: 25px;
        }

        table.testview-items a.bar {
            width: 5px;
        }

        table.testview-items tr.testview-items-row {
            height: 60px;
        }

        /* scale */
        table.vertical-scale {
            position: absolute;
            top: 23px;
            left: 0px;
            width: 100%;
            z-index: -100;
        }

            table.vertical-scale td, tr.horizontal-scale td {
                font-size: 60%;
                line-height: normal;
            }

            table.vertical-scale tr.scale-max, table.vertical-scale tr.scale-mid {
                height: 30px;
            }

            tr.horizontal-scale, table.vertical-scale tr.scale-min {
                height: 12px;
            }

        td.scale-max-label, td.scale-mid-label, td.scale-min-label {
            border-top: solid 1px #E6E6E6;
            text-align: left;
            vertical-align: top;
        }

        td.scale-10-label {
            border-left: solid 1px #E6E6E6;
            text-align: left;
            vertical-align: bottom;
            padding-left: 1px;
        }

        tr.scale-mid td, tr.scale-min td, tr.scale-max td {
            border-top: solid 1px #E6E6E6;
        }


        /* bar-control */
        #bar-control {
            font-size: 60%;
            line-height: normal;
            position: absolute;
            right: 0px;
            top: 0px;
        }

            #bar-control label {
                font-weight: bold;
                vertical-align: middle;
            }

            #bar-control .option {
                vertical-align: middle;
                text-transform: lowercase;
            }

            #bar-control input[type="checkbox"] {
                padding: 0 2px 0 3px;
            }

            #bar-control input {
                vertical-align: top;
                height: 12px;
                margin: 0px;
                padding: 0px;
            }

            #bar-control div {
                float: right;
                margin: 3px 5px 3px 5px;
            }


        /* timeline view */
        #timelineview {
            padding-top: 5px;
        }

        table.timelineview a {
            height: 20px;
        }

        table.timelineview td {
            vertical-align: bottom;
            padding: 0px 1px 0px 0px;
            border: 0px;
        }

        tr.thread-items-row {
            height: 25px;
        }

            tr.thread-items-row td {
                vertical-align: bottom;
            }

        td.thread-label {
            padding: 0px 6px 0px 6px;
            text-align: right;
            line-height: 18px;
            vertical-align: bottom;
        }

        th.thread-label {
            padding: 3px 6px 0px 6px;
            line-height: 18px;
            text-align: left;
            vertical-align: bottom;
        }

        .clsBorder {
            border: solid 1px gray;
        }

        .clsFontSize {
            font-size: 14px;
        }

        .toggleiconright {
            background-image: url('http://GHDTFB02WPL.hds.hdsupply.com:9001/images/chevron-right.png');
            background-repeat: no-repeat;
        }

        .toggleicondown {
            background-image: url('http://GHDTFB02WPL.hds.hdsupply.com:9001/images/chevron-down.png');
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <div class="viewbox">
        <h1>O365 Availability Check - Test Execution Report</h1>
    </div>

    <div class="viewbox">
        <span style="font-size:18px">Start Date and Time: @Model.ExecutionTime.StartTime -Duration:@Model.ExecutionTime.Duration</span>
    </div>
    <div class="viewbox">
        <h2>Result: @Model.Summary.ConcludedResultMessage</h2>
        <div style="margin:10px">
            <table class="testEvents">
                @GetSummaryHeader(null)
                @GetSummaryRow(Model.Summary, null, null)
            </table>
        </div>
    </div>

    <div class="viewbox">
        <div class="togglemain toggleiconright">
            <h2 style="padding-left:25px"> Feature Summary</h2>

            <div class="toggle_content">
                <div style="margin:10px">
                    <table class="testEvents">
                        @GetSummaryHeader("Feature")
                        @foreach (var fixtureNode in GetTextFixtures())
                        {
                            var fixtureSummary = GetSummary(fixtureNode);
                            @GetSummaryRow(fixtureSummary, GetFixtureTitle(fixtureNode), GetTestNodeAnchor(fixtureNode, "f"))
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="viewbox">
        <div class="togglemain toggleiconright">
            <h2 style="padding-left:25px">  Scenario Summary</h2>
            <div class="toggle_content">
                <div style="margin:10px">
                    @foreach (var fixtureNode in GetTextFixtures())
                    {
                        <a name="@GetTestNodeAnchor(fixtureNode, "f")" />
                        <table class="testEvents">
                            @GetSummaryHeader("Scenario (Target: " + fixtureNode.TestTarget +")")
                            @foreach (var testNode in fixtureNode.SubNodes)
                            {
                                var testSummary = GetSummary(testNode);
                                <tr>
                                    <td>
                                        @TestNodeLinks(testNode, 0)
                                    </td>
                                    @GetSummaryRowTail(testSummary)
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="viewbox">
        <div class="togglemain toggleiconright">
            <h2 style="padding-left:25px">  Execution Details</h2>
            <div class="toggle_content">
                <div style="margin:10px">
                    @foreach (var test in Model.TestExecutionResults.OrderBy(tr => tr.ExecutionOrder))
                    {
                        var testItem = test.TestItemResult.TestNode;

                        <a name="@GetTestAnchor(test)" />

                        <div class="viewbox">
                            <div class="toggle toggleiconright">
                                <h4 style="padding-left:25px;height:25px;">@testItem.Type: @testItem.Title (Target:  @testItem.TestTarget)</h4>
                                <div class="toggle_content">
                                    <ul>
                                        <li>Status: @test.ResultType</li>
                                        <li>Start time: @test.ExecutionTime.StartTime</li>
                                        <li>Execution time (sec): @test.ExecutionTime.DurationSeconds</li>

                                        @if (!string.IsNullOrEmpty(test.Result.Error))
                                        {
                                            <li>Error: @(test.Result.Error)</li>
                                        }
                                    </ul>

                                    <table class="testEvents">
                                        <tr>
                                            <th>Steps</th>
                                            <th>Trace</th>
                                            <th>Result</th>
                                        </tr>
                                        @foreach (var traceEvent in test.Result.TraceEvents)
                                        {
                                            if (!IsRelevant(traceEvent))
                                            {
                                                continue;
                                            }
                                            var relatedNode = GetTestNode(traceEvent);
                                            <tr>
                                                <td>
                                                    <pre class="log">@(traceEvent.BusinessMessages.TrimEnd())</pre>
                                                </td>
                                                <td>
                                                    <!-- [@traceEvent.Type: @relatedNode.Type - @relatedNode.Title] -->
                                                    <pre
                                                    <pre class="log">
                                                    <pre class="log">@Raw(FormatTechMessages(traceEvent.TechMessages.TrimEnd()).Replace("imgStart", "<img width='500px' src='").Replace("imgEnd", "'/>")) </pre>
                                        @if (!string.IsNullOrEmpty(traceEvent.Error))
                                        {
                                                    <div class="errorMessage">@Raw(FormatTechMessages(traceEvent.Error))</div>
                                        }
                                                </td>
                                                <td>@traceEvent.ResultType in @GetSeconds(Math.Round(traceEvent.Duration.TotalSeconds, 3))s</td>
                                            </tr>
                                        }
                                    </table>

                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</body>

</html>